
.card{
    width: 80%;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0%);
}
body{
    position: relative;

}
/* .divRegistro{
    text-align: center;
    background-color: white;
    align-self: center;

}
.formRegistro{
    display: flex;
    justify-content: center;

} */
input{

    border-radius: 3px;
    box-sizing: border-box;
    display: block;
    width: 100%;
    border-width: 1px;
    border-style: solid;
    padding: 10px;
    outline: 0;
    font-family: inherit;
    font-size: 0.95em;

}
.botonRegistro{
    margin-top: 7%;
    margin-bottom: 7%;
    background: #28d;
    border-color: transparent;
    color: #fff;
    cursor: pointer;

}
.botonRegistro:hover {
    background:red;
  }
  .col-md-8 input{
    margin-top: 2%;
  }
summary{
    padding-top: 2%!important;

}
  #informacionImportante{
    padding-top: 2%;
  }