html {
  min-height: 100%;
  position: relative;
}

body {
  font-family: "Segoe IU", sans-serif!important;
  background-color: #CBE3E4!important;
  padding-left: 10%;
  padding-right: 10%;
  margin: 0;
  margin-bottom: 40px;
  min-height: 100vh; /* Ajuste */
  display: flex;
  flex-direction: column; /* Ajusta el valor según la altura del footer */
}
.tituloIndex {font-weight: bold;
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

.ocultar-div{
  display:none;
}
.profile-icon-container {
  position: relative;
  display: inline-block;
}
@media screen and (max-width:770px) {
  .ocultar-div{
      display:block;
  }
  .profile-icon-container{
    display:none;
  }
  .footerInfo{
    display: none;
  }
  .footerCopyright{
    display: block;
  }
}

@media screen and (max-width:1550px) {
  .ulnavbarEventos .nav-item {
    margin: 0 12%!important; 
  }
}

@media screen and (max-width:1450px) {
  .ulnavbarEventos .nav-item {
    margin: 0 10%!important; 
  }
}

@media screen and (max-width:1250px) {
  .ulnavbarEventos .nav-item {
    margin: 0 7%!important; 
  }
}

@media screen and (max-width:1150px) {
  .ulnavbarEventos .nav-item {
    margin: 0 5%!important; 
  }
}



.btn-primary {
  background-color: #275354!important;
 
}
.toggle-group .toggle-on,
.toggle-group .toggle-off {
    line-height: 1.5em; /* Ajusta esto según la altura del botón */
    display: flex;
    align-items: center;
    justify-content: center;
}
.footerIndex {
  background-color: #343a40!important;
  width: 100%;
  margin-top: auto; 
}

.footerCards {
  background-color: #a2b6b6;
  color: black;
  position: fixed;
  bottom: 0;
  width: 80%!important;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  padding: 10px 0!important;
  box-sizing: border-box;
}
.login {
  display: none;
  position: absolute;
  right: -30px;
  top: calc(100% + 35px); /* Coloca el formulario justo debajo del navbar */
  margin: 10px;
  background: white;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width:250px;/* no me gusta usar px*/
  z-index: 1000;

}

.login-triangle {
  width: 0;
  height: 0;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-bottom: 15px solid #46989b;
  position: absolute;
  top: -15px; /* Posición vertical ajustada para que esté debajo del navbar */
  right: 15px;/* Ajusta la posición horizontal para que esté alineado con el perfil */
}

.login-header {
  font-size: 1.2em;
  padding-bottom: 10px;
}

.login input {
  border-radius: 3px;
  box-sizing: border-box;
  display: block;
  width: 100%;
  border-width: 1px;
  border-style: solid;
  padding: 10px;
  outline: 0;
  font-family: inherit;
  font-size: 0.95em;
}

.login input[type="email"],
.login input[type="password"] {
  background: #fff;
  border-color: #bbb;
  color: #555;
}

/* Text fields' focus effect */
.login input[type="email"]:focus,
.login input[type="password"]:focus {
  border-color: #888;
}
.botonSearch:hover{
  background:#46989b !important;
  color:white !important;
}
.registro {
  background: #275354;
  border-color: transparent;
  color: #fff;
  cursor: pointer;
}
.botonLogin {
  background: #46989b;
  border-color: transparent;
  color: #fff;
  cursor: pointer;
}
.botonConsulta{
  background: #46989b;
  color: white;
}

.login input[type="submit"]:hover {
  background: #a1d4d5;
}
.login input[type="button"]:hover {
  background: #a1d4d5;
}

/* Buttons' focus effect */
.login input[type="button"]:focus {
  border-color: #35b5b8;
}
.navbarEventos {
  background-color: #555;
  color: #fff!important;
}
.navbarEventos .container-fluid .collapse .navbar-nav .nav-item .nav-link{
  color: #fff !important;
}
.ulnavbarEventos{
  display: flex;
  justify-content: center; /* Centra los elementos horizontalmente */
  align-items: center; /* Centra los elementos verticalmente */
  height: 100%; 
  font-size: 1.2rem;
  text-transform: capitalize; /* Convierte la primera letra de cada palabra en mayúscula */
}
.navbarEventos .container-fluid .collapse .navbar-nav .nav-item  .nav-link:hover {
  color: #888 !important; /* Cambia el color del texto al pasar el ratón por encima a rojo y asegura que tenga prioridad con !important */
}
.ulnavbarEventos .nav-item {
  margin: 0 15%; /* Añade margen entre los elementos de navegación */
}


.fotoNavbar {
  cursor: pointer;
  float: left;
  padding-right: 10px;
}

.navbar-brand {
  padding-left: 10px;
  width: auto;
}
.nav {
  display: flex;

  justify-content: center;

  align-items: center;

  list-style-type: none;
}
.navlink{
  color: rgba(0,0,0,.5);

}
.nav-link:hover{
  color: black;
}

.nav-item {
  margin: 0 10px;
}

.form-control {
  width: 300px;
}

.centered-nav {
  display: flex;
  justify-content: center;
  align-items: center;
}
#profile-icon {
  width: 30px;
  cursor: pointer;
  position: relative;
  z-index: 1000; 
}

.navbarEventos .container-fluid .collapse .navbar-nav .nav-item .nav-link.active {
  color: #CDFEAA !important; /* color on click */
}

