body {
  font-family: "Segoe IU", sans-serif!important;

  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Asegura que el cuerpo ocupe al menos el 100% del viewport */
}

.content {
  flex: 1; /* Permite que el contenido ocupe todo el espacio disponible */
}


h2, h3{

  text-align: center;
padding: 1% 1%;}
p{

  padding-bottom:-1%;
  text-align: center;
}

.container {
  border: 1px solid #ccc; /* Añade un borde al contenedor */
  padding: 20px; /* Añade un espacio alrededor de la tabla */
  text-align: center;

}

table {
  width: 100%; /* Haz que la tabla ocupe todo el ancho del contenedor */
  border-collapse: collapse; /* Combina los bordes de las celdas */
}

th, td {
  border: 1px solid #ccc; /* Añade bordes a las celdas */
  padding: 8px; /* Añade espacio interno a las celdas */
  text-align: left; /* Alinea el texto a la izquierda */
}

input[type="text"],
input[type="email"],
input[type="password"],
select,
textarea {
  display: inline-block;
    width: 30%;
    padding: 5px;
    margin: 10px 5px;
    border: 1px solid #ced4da;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 16px;
}
.input-grid {
    display: grid;
    grid-template-columns: repeat(2, auto); /* Dos columnas */
    grid-gap: 10px; /* Espacio entre las columnas */
}

.input-container {
    display: flex;
    align-items: center;
}

.input-container label {
    width: 100px; /* Ancho deseado para las etiquetas */
    margin-right: 10px; /* Espacio entre la etiqueta y el campo de entrada */
}

.input-container input {
    flex: 1; /* El campo de entrada ocupará el espacio restante */
    /* Otros estilos como padding, border, etc. */
}
.boton {
    display: inline-block;
    padding: 10px 20px;
    margin-top: 20px;
    border: none;
    border-radius: 4px;
    background-color: white;
    color: black !important;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s;
}

.boton:hover {
    background-color: #0056b3;
}