body {
  font-family: "Segoe IU", sans-serif!important;

  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Asegura que el cuerpo ocupe al menos el 100% del viewport */
}

.content {
  flex: 1; /* Permite que el contenido ocupe todo el espacio disponible */
}


h2, h3{

  text-align: center;
padding: 1% 1%;

}
p{

  text-align: center;
}


.divAlta {
  background-color: #fff;
  width: 100%!important; 
  padding: 20px 2% !important; /* Añadimos espacio interno */
  border-radius: 8px; /* Añadimos bordes redondeados */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Añadimos sombra */
  text-align: center;
  margin: 0 !important;
}
.tabla{
  background-color: #fff;
  border-radius: 8px; /* Añadimos bordes redondeados */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Añadimos sombra */
  text-align: center;
  padding-top: 2%!important;
  margin-top: 1%!important;
}
table {
  padding-top: 1%!important;
  width:80%!important; /* Haz que la tabla ocupe todo el ancho del contenedor */

  border-collapse: collapse; /* Combina los bordes de las celdas */
}


th, td {
  border: 1px solid #ccc; /* Añade bordes a las celdas */
  padding: 8px; /* Añade espacio interno a las celdas */
  text-align: left; /* Alinea el texto a la izquierda */
}

input[type="text"],
input[type="email"],
input[type="password"],
select,
textarea {
  display: inline-block;
    width: 30%;
    padding: 5px;
    margin: 10px 5px;
    border: 1px solid #ced4da;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 16px;
}
.footerAdmin{  
    background-color: #a2b6b6;
  color: black;
  position: fixed;
  bottom: 0;
  width: 80%!important;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  padding: 10px 0;
  box-sizing: border-box;
}
.input-grid {
    display: grid;
    grid-template-columns: repeat(2, auto); /* Dos columnas */
    grid-gap: 10px; /* Espacio entre las columnas */
}

.input-container {
    display: flex;
    align-items: center;
}

.input-container label {
    width: 100px; /* Ancho deseado para las etiquetas */
    margin-right: 10px; /* Espacio entre la etiqueta y el campo de entrada */
}

.input-container input {
    flex: 1; /* El campo de entrada ocupará el espacio restante */
    /* Otros estilos como padding, border, etc. */
}
.boton {
    display: inline-block;
    padding: 10px 20px;
    margin-top: 20px;
    border: none;
    border-radius: 4px;
    background: #46989b;
    color: #fff !important;
    font-size: 16px;
    text-align: center!important;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s;
}

.boton:hover {
    background-color: #275354;
    color: white;
}


.tituloUsuarios,.tituloAdmin{
font-weight: bold;
font-family: "Playfair Display", serif;
font-optical-sizing: auto;
font-weight: 700;
font-style: normal;
margin-bottom: 2%;
margin-top: 3%;

}
