html {
  min-height: 100%;
  position: relative;
}

body {
  font-family: "Segoe IU", sans-serif!important;
  background: rgb(34, 193, 195);
  background: linear-gradient(
    135deg,
    rgba(34, 193, 195, 1) 23%,
    rgba(253, 247, 45, 1) 100%
  );
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
  background-attachment: fixed;
  font-family: Arial, sans-serif;
  background-color: aquamarine;
  padding-left: 10%;
  padding-right: 10%;
  margin: 0;
  margin-bottom: 40px;
  min-height: 100vh; /* Ajuste */
  display: flex;
  flex-direction: column; /* Ajusta el valor según la altura del footer */
}
.contenedor {
  width: auto;
  height: auto;
  display: flex !important; /* ETIQUETA QUE POSICIONA UNO AL LADO DEL OTRO */
  flex-wrap: wrap;
}
.card {
  flex: 0 0 auto; /* Para evitar que las tarjetas se estiren para llenar el contenedor */
  width: calc(33.33% - 4rem); /* Establece el ancho de las tarjetas para que haya tres en una fila */
  margin: 0 2rem 2rem 0; /* Margen entre las tarjetas */
}
.ocultar-div{
  display:none;
}
.profile-icon-container {
  position: relative;
  display: inline-block;
}
@media screen and (max-width:770px) {
  .ocultar-div{
      display:block;
  }
  .profile-icon-container{
    display:none;

  }
  .footerInfo{
    display: none;
  }
  .footerCopyright{
    display: block;
  }

  
}
@media screen and (max-width:1330px) {
  .ulnavbarEventos .nav-item {
    margin: 0 10%!important; 
  }
}

.footer {
  width: 100%;
  margin-top: auto; 
}

.login {
  display: none;
  position: absolute;
  right: -30px;
  top: calc(100% + 35px); /* Coloca el formulario justo debajo del navbar */
  margin: 10px;
  background: white;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width:250px;/* no me gusta usar px*/
  z-index: 1000;

}

.login-triangle {
  width: 0;
  height: 0;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-bottom: 15px solid #28d;
  position: absolute;
  top: -15px; /* Posición vertical ajustada para que esté debajo del navbar */
  right: 15px;/* Ajusta la posición horizontal para que esté alineado con el perfil */
}

.login-header {
  /* background: #28d;
    padding: 20px;
    font-size: 1.4em;
    font-weight: normal;
    text-align: center;
    text-transform: uppercase;
    color: #fff; */
  font-size: 1.2em;
  padding-bottom: 10px;
}

.login input {
  border-radius: 3px;
  box-sizing: border-box;
  display: block;
  width: 100%;
  border-width: 1px;
  border-style: solid;
  padding: 10px;
  outline: 0;
  font-family: inherit;
  font-size: 0.95em;
}

.login input[type="email"],
.login input[type="password"] {
  background: #fff;
  border-color: #bbb;
  color: #555;
}

/* Text fields' focus effect */
.login input[type="email"]:focus,
.login input[type="password"]:focus {
  border-color: #888;
}

.registro {
  background: pink;
  border-color: transparent;
  color: #fff;
  cursor: pointer;
}
.botonLogin {
  background: #28d;
  border-color: transparent;
  color: #fff;
  cursor: pointer;
}

.login input[type="submit"]:hover {
  background: #17c;
}
.login input[type="button"]:hover {
  background: #17c;
}

/* Buttons' focus effect */
.login input[type="button"]:focus {
  border-color: #05a;
}
.navbarEventos {
  background-color: #555;
  color: #fff!important;
}
.navbarEventos .container-fluid .collapse .navbar-nav .nav-item .nav-link{
  color: #fff !important;
}
.ulnavbarEventos{
  display: flex;
  justify-content: center; /* Centra los elementos horizontalmente */
  align-items: center; /* Centra los elementos verticalmente */
  height: 100%; 
  font-size: 1.2rem;
  text-transform: capitalize; /* Convierte la primera letra de cada palabra en mayúscula */
}
.navbarEventos .container-fluid .collapse .navbar-nav .nav-item  .nav-link:hover {
  color: #888 !important; /* Cambia el color del texto al pasar el ratón por encima a rojo y asegura que tenga prioridad con !important */
}
.ulnavbarEventos .nav-item {
  margin: 0 18%; /* Añade margen entre los elementos de navegación */
}

.fotoNavbar {
  cursor: pointer;
  float: left;
  padding-right: 10px;
}

.navbar-brand {
  padding-left: 10px;
  width: auto;
}
.nav {
  display: flex;

  justify-content: center;

  align-items: center;

  list-style-type: none;
}

.nav-item {
  margin: 0 10px;
}

.form-control {
  width: 300px;
}

.centered-nav {
  display: flex;
  justify-content: center;
  align-items: center;
}
#profile-icon {
  /* position: fixed;    
right: 30px; */
  width: 30px;
  cursor: pointer;
  position: relative;
  z-index: 1000; 
}


